@model List<EntityLayer.Concrete.Portfolio>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_NewAdminLayout.cshtml";
    String status = "";
    String statusClass = "";
}
<div class="row">
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th >#</th>
                                <th >Proje</th>
                                <th >Ücret</th>
                                <th >Durum</th>
                                <th >Tamamlanma Oranı</th>
                                <th >Sil</th>
                                <th >Düzenle</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                if (item.Value == 100)
                                {
                                    status = "Tamamlandı";
                                    statusClass = "bg-success";

                                }
                                else
                                {
                                    status = "Devam Ediyor";
                                    statusClass = "bg-danger";
                                }
                                <tr>
                                    <td>@item.PortfolioID</td>
                                    <td>
                                        <div class="media align-items-center">
                                            <a href="#" class="avatar rounded-circle mr-3">
                                                <img alt="Image placeholder" src="@item.Platform">
                                            </a>
                                            <div class="media-body">
                                                <span class="name mb-0 text-sm">@item.Name</span>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        @item.Price
                                    </td>
                                    <td>
                                        <span class="badge badge-dot mr-4">
                                            <i class="@statusClass"></i>
                                            <span class="status">@status</span>
                                        </span>
                                    </td>
                                    <td>
                                        <div class="d-flex align-items-center">
                                            <span class="completion mr-2">@item.Value%</span>
                                            <div>
                                                <div class="progress">
                                                    <div class="progress-bar bg-warning" role="progressbar" aria-valuenow="@item.Value" aria-valuemin="0" aria-valuemax="100" style="width: @item.Value%;"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                    <td><a href="/Portfolio/DeletePortfolio/@item.PortfolioID" class="btn btn-outline-danger">Sil</a></td>
                                    <td><a href="/Portfolio/EditPortfolio/@item.PortfolioID" class="btn btn-outline-success">Güncelle</a></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    <br />
                    <a href="/Portfolio/AddPortfolio/" class="btn btn-outline-info float-right">Yeni Proje Ekle</a>
                </div>
            </div>
        </div>
    </div>
</div>


